@model Assignment2.ViewModels.PasswordGeneratorViewModel
@{
    ViewBag.Title = "PasswordGenerator";
}

<h2>PasswordGenerator</h2>

<!--
    Name: Haakon Jakobson
    Assignment 1
    Date: 1/29/2017
    -->




<p>
    @Html.ActionLink("Create New", "Login")
</p>

<h3> Welcome @ViewBag.LN, here are some possible passwords for you</h3>

<table class="table">
    <tr>
        <th>
            <h4>Passwords</h4>
        </th>
        <th></th>
    </tr>
    <tr>
        <th>
            <span class="label label-default">@ViewBag.Password1</span>
        </th>
    </tr>
    <tr>
        <th>
            <span class="label label-default">@ViewBag.Password2</span>
        </th>
    </tr>
    <tr>
        <th>
            <span class="label label-default">@ViewBag.Password3</span>
        </th>
    </tr>
    <tr>
        <th>
            <span class="label label-default">@ViewBag.Password4</span>
        </th>
    </tr>
    <tr>
        <th>
            <span class="label label-default">@ViewBag.Password5</span>
        </th>
    </tr>

</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Visitor</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        </div>
}

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Log In" class="btn btn-default" />
            </div>
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/jqueryval")
        }
