
@{
    ViewBag.Title = "PasswordGenerator";
}

<h2>PasswordGenerator</h2>

<!--
    Name: Haakon Jakobson
    Assignment 1
    Date: 1/29/2017
    -->

@model IEnumerable<Assignment2.ViewModels.PasswordViewModel>


<p>
    @Html.ActionLink("Create New", "Login")
</p>

<h3> Welcome @ViewBag.LN, here are some possible passwords for you</h3>

<table class="table">
    <tr>
        <th>
            <h4>Passwords</h4>
        </th>
        <th></th>
    </tr>
    @*@for(int i = 0; i < 5; i++)
    {
        <tr>
            <td>
            </td>
            <td>
                @Html.DisplayNameFor(model => model.LastName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.BirthYear)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Color)
            </td>
            <td>
                <button type="button" value="Select" class="btn"> @Html.ActionLink("Select", "Select")</button>
            </td>
        </tr>
    }*@

    <tr>
        <th>
            <span class="label label-default">@ViewBag.Password1</span>
        </th>
    </tr>
    <tr>
        <th>
            <span class="label label-default">@ViewBag.Password2</span>
        </th>
    </tr>
    <tr>
        <th>
            <span class="label label-default">@ViewBag.Password3</span>
        </th>
    </tr>
    <tr>
        <th>
            <span class="label label-default">@ViewBag.Password4</span>
        </th>
    </tr>
    <tr>
        <th>
            <span class="label label-default">@ViewBag.Password5</span>
        </th>
    </tr>

</table>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Log In" class="btn btn-default" />
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}